<div class="row">        <!-- first two days -->
  <div class="col-md-4"> <!-- left column -->
    <h3>Day 1 – Mon April 15</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/index.html" target="_blank">The Unix Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00</td>        <!-- time    -->
        <td>Lunch break</td>        <!-- content -->
      </tr>
      <tr>              <!-- row 3  --> 
        <td>01:00</td>  <!-- time  -->
        <td><a href="https://swcarpentry.github.io/git-novice/index.html" target="_blank">Version Control with Git</a></td>
      </tr>
      <tr>
        <td>03:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4"> <!-- middle column -->
    <h3>Day 2 – Tue April 16</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Plotting and Programming in Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00</td>        <!-- time    -->
        <td>Lunch break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>01:00</td>        <!-- time    -->
        <td>Plotting and Programming in Python, continued</td>        <!-- content -->
      </tr>
      <tr>
        <td>03:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4"> <!-- right column -->
    <h3>Day 3 – Wed April 17</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Plotting and Programming in Python, continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>
        <td>01:00</td>
        <td>Plotting and Programming in Python, continued</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>03:00</td>        <!-- time    -->
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
