<div id="colab">
  <h3>Google Colaboratory</h3>
  <p>
    We will use <a href="https://colab.research.google.com/" target="_blank">Google Colaboratory</a> 
    ("Google Colab") for all aspects of the workshop.
  </p>
  <p>
    Please use your Penn State Google Workspace for Education Account to access Google Colab.
  </p>
  <p>
    If you have not aleady set up your PSU Google Workspace for Education Account, please follow the 
    <a href="https://researchcomputing.psu.edu/?q=node/256" target="_blank">directions linked here</a>.
  </p>
</div>
